/* 로그인 */
.login {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 로고 */
.login_logo {
    margin-bottom: 50px;

    color: #4FD0FE;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 로그인 본체*/
.login_box {
    width: 410px;
    height: 560px;

    margin-top: 150px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background: #FFFFFF;

    border: 1px solid #f0f0f0;
    box-shadow: 4px 4px 4px 5px rgba(200, 200, 200, 0.25);
    border-radius: 7px;
}

/* input 부분 */
.id_input {
    margin-bottom: 15px;

    color: #9C9C9C;

    font-size: 18px;
}

.id_input > input {
    width: 230px;
    height: 33px;

    margin-left: 10px;

    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.password_input {
    color: #9C9C9C;

    font-size: 18px;
}

.password_input > input {
    width: 230px;
    height: 33px;

    margin-left: 10px;

    border: 1px solid #DEDEDE;
    border-radius: 5px;
}
.password2_input {
    margin-top: 15px;

    color: #9C9C9C;

    font-size: 18px;
}

.password2_input > input {
    width: 230px;
    height: 33px;

    margin-left: 10px;

    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

/* 로그인 버튼 */
.login_box > button {
    width: 250px;
    height: 40px;

    font-size: 18px;

    margin-top: 50px;

    border: 0;
    border-radius: 5px;

    background-color: #4FD0FE;
    color: #FFF;
}

.login_box > button:hover {
    cursor: pointer;
}

/* 회원가입 */
.signup {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 로고 */
.signup_logo {
    margin-bottom: 50px;

    color: #4FD0FE;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 회원가입 본체 */
.signup_box {
    width: 410px;
    height: 560px;

    margin-top: 150px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background: #FFFFFF;

    border: 1px solid #f0f0f0;
    box-shadow: 4px 4px 4px 5px rgba(200, 200, 200, 0.25);
    border-radius: 7px;
}

/* 회원가입 버튼 */
.signup_box > button {
    width: 250px;
    height: 40px;

    font-size: 18px;

    margin-top: 50px;

    border: 0;
    border-radius: 5px;

    background-color: #4FD0FE;
    color: #FFF;
}

.signup_box > button:hover {
    cursor: pointer;
}