.Calender {
    text-align: center;
}

.Header {
    width: 1920px;
    height: 75px;

    background: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(200, 200, 200, 0.25);

    display: flex;

    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.Logo {
    width: 135px;
    height: 43px;

    margin-left: 10%;
    margin-top: 1%;
}

/* Login style */
.Login_body {
    display: flex;

    align-items: center;
    justify-content: center;

}

.box {
    margin-top: 10%;

    box-sizing: border-box;

    width: 463px;
    height: 635px;

    background: #FFFFFF;
    border: 1px solid #f0f0f0;
    box-shadow: 4px 4px 4px 5px rgba(200, 200, 200, 0.25);
    border-radius: 3px;
}