.Calender {
    height: 100vh;
    width: 100vw;

    font-size: 1.5vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 연도, 월 부분 */
.head {
    width: 1100px;
    height: 50px;
}

.month {
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.month > h2 {
    color: #5F5F5F;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.month > button {
    border: 0;
    padding: 0;

    margin-bottom: 6px;

    font-size: 30px;

    color: #CCCCCC;
    background-color:transparent;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 요일 부분 */
.dayofweek {
    width: 1100px;
    height: 40px;

    display: flex;
    align-items: center;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: #4FD0FE;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box {
    width: 154px;
    height: 40px;
}

.text {
    margin-top: 5px;
}

/* 달력 부분 */
.body {
    width: 1100px;
    height: 700px;

    margin-bottom:100px;

    border-collapse : collapse;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body > tbody > tr > td {
    width: 100px;
    height: 100px;

    border: 1px solid #CDCDCD;

    padding-top: 5px;
}

.body > tbody > tr > td > span {
    margin-left: 6px;
}

.today > span {
    padding: 2px;

    border-radius: 50%;

    background-color: #4FD0FE;
    color: #FFF;
}

.day {
    vertical-align : top;
}

.day_box {
    width: 157px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: #FFF;

    font-size: 16px;
    font-weight: 105;
}