/* 헤더 */
.Header {
    background: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(200, 200, 200, 0.25);
}

.header {
    width: 100vw;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 로고 */
.logo {
    margin-left: 3%;
    float: left;

    color: #4FD0FE;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}