.Header {
    background: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(200, 200, 200, 0.25);
}

.header {
    width: 100vw;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 13%;

    color: #4FD0FE;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header > nav {
    margin-right: 13%;
}

.header > nav > span {
    list-style: none;

    color: #9C9C9C;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header > nav > span:first-child {
    margin-right: 30px;
}

/* 메뉴 아이콘 1100px부터 나오게 */
.menu {
    position: absolute;

    right: 5%;

    width: 19px;
    height: 19px;

    display: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width:1100px) {
    .menu {
        display: block;
    }

    .header > nav > span {
        display: none;
        pointer-events: none;
    }

    .logo {
        
    }
}