.Header {
    background: #FFFFFF;
    box-shadow: 4px 4px 15px rgba(200, 200, 200, 0.25);
}

.header {
    width: 100vw;
    height: 75px;

    display: flex;
    flex: none;
    align-items: center;
}

.logo {
    margin-left: 13%;

    color: #4FD0FE;

    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.header > nav {
    margin-left: auto;
    margin-right: 13%;
}

.header > nav > span {
    list-style: none;

    color: #9C9C9C;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.header > nav > span:first-child {
    margin-right: 30px;
}